<span class="header"
  ><mat-icon>coronavirus</mat-icon> Insira o CID e nome da doença</span
>
<form [formGroup]="form">
  <div class="form-row">
    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-select formControlName="cid" placeholder="CID">
        <mat-option>-- Selecionar --</mat-option>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="auto">
      <input
        matInput
        placeholder="Ex.: amigdalite bacterina"
        formControlName="name"
      />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-button color="primary" matStepperNext (click)="handleFormSubmit()">
      Prosseguir
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</form>
