<span class="header"
  ><mat-icon>coronavirus</mat-icon> CID 10 - D51 anemia por deficiência de
  B12</span
>
<span class="header"
  ><mat-icon>vaccines</mat-icon> Insira o tratamento indicado para a
  doença</span
>

  <div class="form-row" *ngFor="let medication of medicationsList;index as i" [id]="'medication-'+i">
    <div class="outline" >
      <input matInput placeholder="Medicação" [(ngModel)]="medicationsList[i].name"/>
      <button mat-icon-button matSuffix>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="outline" >
      <mat-select placeholder="Dosagem"[(ngModel)]="medicationsList[i].dose">
        <mat-option *ngFor="let option of dosageOptions" [value]="option"  >{{option}}</mat-option>
      </mat-select>
    </div>
    <div class="outline" >
      <mat-select placeholder="Horário"[(ngModel)]="medicationsList[i].frequency">
        <mat-option *ngFor="let option of frequencyOptions" [value]="option"   >{{option}}</mat-option>
      </mat-select>
    </div>
    <div class="outline" >
      <mat-select placeholder="Duração"[(ngModel)]="medicationsList[i].duration">
        <mat-option *ngFor="let option of durationOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="actions">
    <button mat-button color="primary" (click)="addMedication()">
      <mat-icon>add</mat-icon>
      Medicação
    </button>
  </div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <div class="form-row" *ngFor="let exam of examsList; index as j" [id]="'exam-'+j">
    <div class="outline" >
      <mat-select  placeholder="Tipo de Exame" [(ngModel)]="examsList[j].type">
        <mat-option *ngFor="let option of examTypes" [value]="option">{{option}}</mat-option>
      </mat-select>
    </div>
    <div class="outline" >
      <span *ngIf="!examsList[j].name[0]" (click)="openExamModal()">
        Selecionar
      </span>
      <span *ngIf="examsList[j].name[0] !== ''">
        {{examsList[j].name}}
      </span>
    </div>
  </div>

  <div class="actions">
    <button mat-button color="primary" (click)="addExam()">
      <mat-icon>add</mat-icon>
      Exame
    </button>
  </div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <div class="outline" >
    <input matInput placeholder="Outros" />
    <button mat-icon-button matSuffix>
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div class="actions">
    <button mat-button color="primary" matStepperNext (click)="handleFormSubmit()">
      Prosseguir
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
