@import "/src/styles.scss";
@import "~@angular/material/theming";

main {
  padding: 28px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 20px;

  mat-icon {
    color: mat-color($database-admin-frontend-accent, 500);
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
