<div class="container">
    <div class="header">
        <span>Insira a fonte utilizada para o resultado</span>
        <button  mat-flat-button color="primary" (click)="add()" [disabled]="!origin && !link">
            <mat-icon>check</mat-icon> 
            Adicionar
        </button>
    </div>
    <div class="body">
        <div class="form-row">
            <div class="outline" >
              <input matInput placeholder="Origem" [(ngModel)]="origin"/>
              <button mat-icon-button matSuffix>
                <mat-icon>edit</mat-icon>
              </button>
            </div>
         </div>
        
         <div class="form-row">
            <div class="outline" >
              <input matInput placeholder="Link" [(ngModel)]="link"/>
              <button mat-icon-button matSuffix>
                <mat-icon>edit</mat-icon>
              </button>
            </div>
         </div>

      
            <button (click)="addAndClear()" mat-button matSuffix class=outline>
                <mat-icon>add</mat-icon>
                Mais Fontes
            </button>
       
        
    </div>
</div>