// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./custom-palette.scss" as custom-palette;
@use "~@angular/material/theming" as mattem;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$database-admin-frontend-primary: mat.define-palette(
  custom-palette.$emerald-lake-palette
);
$database-admin-frontend-accent: mat.define-palette(
  custom-palette.$dahlia-mauve-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$database-admin-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$database-admin-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $database-admin-frontend-primary,
      accent: $database-admin-frontend-accent,
      warn: $database-admin-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($database-admin-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  .back-button {
    position: absolute;
  }
  .logo {
    height: 70%;
  }
}

// .full-screen-modal {
//   mat-dialog-container {
//     padding: 0;
//   }
// }
