@import "/src/styles.scss";
@import "~@angular/material/theming";

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin: 20px 0;

  mat-icon {
    color: mat-color($database-admin-frontend-accent, 500);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;

  mat-form-field {
    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }

    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    font-size: 18px;
  }
}
